html body {
    background-color: #f6f6f6;
}

/* ☆★ */
.star-rating {
    position: relative;
    font-size: 1em;
    color: #faca51;
    display: inline-block;
}

.star-current {
    position: absolute;
    top: 0;
    white-space: nowrap;
    overflow: hidden;
}


.warpper-card-img {
    position: relative;
    overflow: hidden;
}

.warpper-card-img::after {
    content: '';
    padding-top: 56.25%;
    display: block;
    height: 0;
}

.warpper-card-img img {
    position: absolute;
    top: 0;
    transition: 0.8s;
}

.warpper-card-img img:hover {
    transform: scale(1.1)
}


.breadcrumb{
    background-color: #f9f9f9;
}